<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="offcanvas">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Heading</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <p>Random Jibberish.</p>
    </div>
</div>

<!-- Button to open the offcanvas sidebar -->