<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col justify-content-center align-items-center">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"> <img src="/imgs/robot.png" class="robot" alt="robot"></div>
                    </div>

                </div>
                <div class="col justify-content-center align-items-center">
                    <div class="row">
                        <div class="col"> <img src="/imgs/404.png" class="notfound" alt="404"></div>
                        <div class="col"></div>
                    </div>

                    <a href="/"><button class="returnhome">Return to home</button></a>
                </div>
            </div>
        </div>
    </section>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>