<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/error-404.css">
</head>

<body>


    <main>
        <div class="container">
            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <img src="/imgs/missing-page.svg" class="img-fluid py-5" alt="Page Not Found">
                <h2>The page you are looking for doesn't exist.</h2>
                <a class="btn" href="/">Back to home</a>
            </section>
        </div>
    </main>
</body>

</html>