<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pareng Raymond</title>
    <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="prevent-select" style="overflow: hidden;">





    <div class="container-fluid overflow-hidden">
        <div class="row g-2">
            <div class="col-sm-2 p-3  vh-100" style="background-color: antiquewhite; ">
                <div class="p-3 border bg-light">This will be the sidebar</div>
            </div>


        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./script/vendor.js"></script>
    <script src="./script/scripts.js"></script>
</body>

</html>

<div class="forms">
    <h6>Good <span id="ampm">----</span> <span id="currentUser"></span></h6>
    <h4>Welcome Back!</h4>
    <h1 id="time">----</h1>
    <h1 id="date">----</h1>

    <div class="btn cicrcleButton">Add</div>
</div>