<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pareng Raymond</title>
    <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="centered-container d-flex flex-column justify-content-around">
            <div class="forms">
                <h1>Good <span id="ampm">----</span> <span id="currentUser"></span></h1>
                <h1 id="time">----</h1>
                <h1 id="date">----</h1>
                <a href="/user/register"><button type="button" class="btn btn-secondary">Register</button></a>
                <a href="/user/allusers"><button type="button" class="btn btn-secondary">All Users</button></a>
                <a href="/foods"><button type="button" class="btn btn-secondary">Foods</button></a>
                <a href="/foods/allFoods"><button type="button" class="btn btn-secondary">All Foods</button></a>
            </div>
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./script/vendor.js"></script>
    <script src="./script/scripts.js"></script>
</body>

</html>