<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pareng Raymond</title>
    <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">

</head>

<body class="prevent-select">
    <%- include('partials/partials-nav-bar.ejs') %>
        <%- include('partials/partials-aside.ejs') %>


            <main id="main" class="main">

                <div class="pagetitle">
                    <h3>Good <span id="ampm"> </span>
                        <%= loggedUser %> </span>
                    </h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" id="date"></li>
                            <li class="breadcrumb-item" id="time"></li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                <section class="section dashboard">
                    <div class="row">

                        <!-- Left side columns -->
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card sales-card">
                                        <div class="card-body">
                                            <h5 class="card-title">uHH</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card sales-card">
                                        <div class="card-body">
                                            <h5 class="card-title">uHH</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-md-6">
                                    <div class="card info-card sales-card">
                                        <div class="card-body">
                                            <h5 class="card-title">uHH</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">uHH</span></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">uHH</span></h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Left side columns -->

                        <!-- Right side columns -->
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Uhh <span>| Uhh </span></h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body pb-0">


                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body pb-0">
                                    <div style="min-height: 400px;"></div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body pb-0">
                                    <h5 class="card-title">Uhh <span>| Uhh </span></h5>
                                </div>
                            </div>
                        </div>
                        <!-- End Right side columns -->
                    </div>
                </section>
            </main>


            <script src="/bootstrap/js/bootstrap.js"></script>
            <script src="./script/vendor.js"></script>
            <script src="./script/scripts.js"></script>
</body>

</html>