<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pareng Raymond</title>
    <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="prevent-select">

    <main>
        <div class="container-fluid">
            <div class="row g-2 ">
                <div class="col-lg-2 vh-100 bg-primary">

                    <div class="card p-3 m-3 roundedDiv">
                        <div class="row g-0">
                            <span class="col-lg-4 align-middle">
                                <img class="img-fluid rounded-start " src="./imgs/robot.png" alt="Card image">
                            </span>
                            <span class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= loggedUser %>
                                    </h5>
                                    <h6 class="card-text">Some example text.</h6>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="p-3 border bg-light m-3 roundedDiv">Custom column padding</div>
                    <div class="p-3 border bg-light m-3 roundedDiv">Custom column padding</div>
                    <div class="p-3 border bg-light m-3 roundedDiv">Custom column padding</div>
                    <div class="p-3 border bg-light m-3 roundedDiv">Custom column padding</div>
                    <div class="p-3 border bg-light m-3 roundedDiv">Custom column padding</div>
                </div>
                <div class="p-3 col-lg-10 vh-100">
                    <div class="p-3">
                        <div class="row g-3 mb-3 ">
                            <div class="col-md-11 align-self-center ">
                                <div class="p-3 ">
                                    <h3>Good <span id="ampm"> </span>  <%= loggedUser %>  </span></h3>
                                </div>
                            </div>
                            <div class="col-md-1 d-flex justify-content-center ">
                                <div class="row m-2 g-1">
                                    <div class="col-sm d-flex justify-content-center">
                                        <p id="time"></p>
                                    </div>
                                    <div class="col-sm d-flex justify-content-center ">
                                        <p id="date"></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row g-3 mb-3">
                            <div class="col">
                                <div class="card p-3 roundedDiv">
                                    <div class="row g-0">

                                        <%- include('contributions/contributions.ejs') %>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card p-3 roundedDiv">
                                    <div class="row g-0">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>


    </footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./script/vendor.js"></script>
    <script src="./script/scripts.js"></script>
</body>

</html>