html,
body {
   font-family: "Helvetica Neue", sans-serif;
   background-color: #f9f9f9;
   height: 100%;
   scrollbar-width: thin;
}

.centered-container {
   background-color: #dfe1e5;
   width: 500px;

   border-radius: 15px;
   box-shadow: -50px 50px 25px #00000081;
   padding: 20px;
}

.cicrcleButton {
   background-color: white;
   width: 50px;
   height: 50px;
   border-radius: 100px;
}

.container-fluid {
   padding: 10px;
   padding-left: 30px;
}


.forms {
   margin: 80px;
}

.form-group {
   margin-top: 20px;
}

.btn {
   margin-top: 10px;
}

.prevent-select {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
}

.selectEnable {
   -webkit-user-select: text;
   -khtml-user-select: text;
   -moz-user-select: text;
   -o-user-select: text;
   user-select: text;
}

.sticky {
   position: sticky;
   top: 0;
   z-index: 999;
}

.roundedDiv {
   border-radius: 10px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
   body {
      background-color: #5c8dbe;
   }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
   body {
      background-color: #507aa3;
   }

   .forms {
      margin: 30px;
   }

   .centered-container {
      background-color: #dfe1e5;
      width: 400px;
      height: 500px;
      border-radius: 15px;
      box-shadow: -50px 50px 25px #00000081;
   }
}


.epal{
   background-color: wheat;
}

