html,
body {
   font-family: "Helvetica Neue", sans-serif;
   height: 100%;
   background-color: #5282b1;
}

.centered-container {
   background-color: #dfe1e5;
   width: 500px;
   height: 500px;
   border-radius: 15px;
   box-shadow: -50px 50px 25px #00000081;
   padding: 20px;
}

.cicrcleButton {
   background-color: white;
   width: 50px;
   height: 50px;
   border-radius: 100px;
}

.forms {
   margin: 80px;
}

.form-group {
   margin-top: 20px;
}

.btn {
   margin-top: 10px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
   body {
      background-color: #5c8dbe;
   }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
   body {
      background-color: #507aa3;
   }

   .forms {
      margin: 30px;
   }

   .centered-container {
      background-color: #dfe1e5;
      width: 400px;
      height: 500px;
      border-radius: 15px;
      box-shadow: -50px 50px 25px #00000081;
   }
}
