<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addFood">Add Item</button>


    <div class="modal fade" id="addFood">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container mt-3">
                        <h2>Add New Food</h2>
                        <p>Some instructions on how to add new foods</p>
                        <form action="/foods/addFood" method="post">
                            <div class="row">
                                <div class="col">
                                    <label for="foodName">Item name:</label>
                                    <input type="text" class="form-control" placeholder="Item name" name="foodName">
                                </div>
                                <div class="col">
                                    <label for="foodPrice">Recipe price:</label>
                                    <input type="text" class="form-control" placeholder="Price (optional)"
                                        name="foodPrice">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="foodDescription">Description:</label>
                                    <textarea class="form-control" rows="3" id="foodDescription"
                                        name="foodDescription"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="foodLink">link :</label>
                                    <textarea class="form-control" rows="1" id="foodLink" name="foodLink"
                                        placeholder="link"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- Modal footer -->
            </div>
        </div>
    </div>

    <script src="../script/userRegister.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>