<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Proof that the all users page is working</h1>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.user_name %></li>
        <% }); %>
    </ul>


    <a href="/user/delete"><button>delete</button></a>
    <a href="/user/register"><button>Register</button></a>

</body>
</html>